sawtooth-core/
omi-summer-lab/
omi.privkey

# IDE / Editors
.idea/
^.+\.sublime-.+$

# Local DB files
db.sqlite3

# Backup files
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Virtual Environments
venv/
venv3/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
README.html

# NPM
node_modules/

# Bower
static/bower_components/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
test-reports/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Mac Finder
*.DS_Store
__MACOSX/
